@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  height: 75px;
  padding: 1rem;
  background-color: #3397DB;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  margin-right: 1.5rem;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  list-style-type: none;
  margin: 0 0 30px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: 0 20px 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}

#restaurants-list .restaurant-img {
  background-size: cover;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin: 1rem;
  background-color: #ccc;
  display: block;
  max-width: 100%;
  min-height: 248px;
  max-width: 100%;
  height: auto;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  border-radius: 1rem;
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: relative;
  top: 0;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: absolute;
  right: 0;
  top: 80px;
  width: calc(100% - 36rem);
  height: 65em;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 3rem;
  width: 50%;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  width: 100%;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  padding: 0 20px 20px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* Restaurants Page */

@media screen and (max-width: 1040px) {
  /* Restaurants Page */
  #restaurant-maincontent {
    display: flex;
    flex-wrap: wrap;
  }
  h1#restaurant-name {
    margin: 4rem;
    font-size: 2rem;
  }
  .inside #map-container {
    position: absolute;
    height: 24em;
    width: 100%;
  }
  section#restaurant-container {
    padding: 2rem;
    top: 13rem;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  section#reviews-container {
    margin-top: 2rem;
  }
  table#restaurant-hours td {
    font-size: 1rem;
  }
  #reviews-container h2 {
    display: none;
  }
  p#restaurant-cuisine {
    font-size: 1rem;
  }
  p#restaurant-address {
    font-size: 1rem;
    margin-top: 4rem;
  }
  #reviews-list {
    margin-top: 5rem;
  }
  #reviews-list li {
    width: 80%;
  }
  #breadcrumb,
  #breadcrumb li {
    font-size: 1.5rem;
  }
  .inside #footer,
  footer#footer {
    /* width: -webkit-fill-available; */
    padding-top: 2rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 1040px) {
  /* Home Page */
  #restaurants-list li {
    border-radius: 2rem;
    padding: 4rem;
    background-color: #eeeeee;
  }
  ul#restaurants-list h1,
  ul#restaurants-list p,
  ul#restaurants-list a {
    font-size: 2rem;
  }
  #reviews-container {
    width: 100%;
  }
  #reviews-list li {
    background-color: #ff4064;
    border-radius: 6px;
  }
  #reviews-list li p {
    font-size: 1rem;
  }
  #reviews-list li p:nth-child(-n+3) {
    font-size: 2.5rem;
    color: orange;
  }
  .filter-options {
    height: 15rem;
  }
  .filter-options h2 {
    display: flex;
    font-size: 2rem;
    justify-content: center;
  }
  .filter-options select {
    width: 100%;
    text-align-last: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    /* margin-top: 2rem; */
  }
  #neighborhoods-select,
  #cuisines-select {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    height: 5rem;
  }
}

@media (min-width: 1041px) {
  /* Home Page */
  #restaurants-list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #restaurants-list {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  #reviews-list li,
  #restaurants-list li {
    width: 265px;
    height: auto;
    margin: 10px;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}